* {
  padding: 0;
  margin: 0;
}
html, body, #star {
    height: 100%;
    min-height: 100%;
}

body {
    background: radial-gradient(#20324f 0%, #1d223c 50%, #1e202f 100%);
    position: relative;
}

ul {
  list-style: none;
}

#sun {
    display: block;
    width: 200px;
    height: 200px;
    background-image: radial-gradient(#ffb700 0%, #bf682e 100%);
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #ffa200;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.planet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ABC;
    display: block;
}

.planets {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet:first-child {

}
